{if="$pushbullet_error == false"}
<div class="sidebar">
    <div class="box">
        <div class="inner-header">
            <span>Du / Deine Geräte</span>
        </div>
        <div class="inner-bottom">
            Verifiziert als <strong>{$me}</strong>.
        </div>
        <div class="inner">
            <table class="table">
                <tr>
                    <th>Gerätebezeichnung / Erstelldatum</th>
                </tr>
{loop="$devices"}
                <tr>
                    <td>{$value.nickname}<br /><span class="small_info">{function="date('d.m.Y H:i', $value.created)"}</span></td>
                </tr>
{/loop}
            </table>
        </div>
    </div>
</div>
<div class="container-600">
{else}
<div>
{/if}
    <div class="box">
        <div class="inner-header">
            <span>Benachrichtigung</span>
        </div>
        <div class="inner-bottom">
            Die Benachrichtigungen werden über <a href="https://www.pushbullet.com/" target="_blank">Pushbullet</a> realisiert.
        </div>
        <form action="?s=settings&amp;do=notification&amp;save" method="post">
            <div class="inner-bottom">
                <table class="table_simple">
                    <tr>
                        <td><strong>Aktivieren</strong></td>
                        <td><input type="checkbox" name="activate" value="checked" {if="$config_notification"}checked{/if} /></td>
                    </tr>
                    <tr>
                        <td><strong>Zugangstoken</strong></td>
                        <td><input type="text" name="token" value="{$config_notification_token}" maxlength="32" style="width: 270px;" /></td>
                    </tr>
{if="$pushbullet_error == false"}
                    <tr>
                        <td><strong>Testpush</strong></td>
                        <td><a href="?s=settings&amp;do=notification&amp;test_push">Jetzt senden</a></td>
                    </tr>
{/if}
                </table>
            </div>
            <div class="inner-bottom">
                <strong>Benachrichtige mich, wenn...</strong><br /><br />
                <table class="table_simple">
                    <tr>
                        <td style="width: 300px;"><strong>eine neue Pi Control Version erscheint</strong></td>
                        <td><input type="checkbox" name="cb_picontrol" value="checked" {if="$config_notification_picontrol"}checked{/if} /></td>
                    </tr>
                    <tr>
                        <td><strong>die CPU-Temperatur einen Wert überschreitet</strong></td>
                        <td><input type="checkbox" name="cb_cpu_temp" value="checked" {if="$config_notification_cpu_temp"}checked{/if} />
                            <select name="dd_cpu_temp">
									<option style="background: #30FF00;" value="40" {if="$config_temp_celsius == 40"}selected="selected"{/if}>40 °C</option>
									<option style="background: #55FF00;" value="45" {if="$config_temp_celsius == 45"}selected="selected"{/if}>45 °C</option>
									<option style="background: #80FF00;" value="50" {if="$config_temp_celsius == 50"}selected="selected"{/if}>50 °C</option>
									<option style="background: #AAFF00;" value="55" {if="$config_temp_celsius == 55"}selected="selected"{/if}>55 °C</option>
									<option style="background: #D5FF00;" value="60" {if="$config_temp_celsius == 60"}selected="selected"{/if}>60 °C</option>
									<option style="background: #FFFF00;" value="65" {if="$config_temp_celsius == 65"}selected="selected"{/if}>65 °C</option>
									<option style="background: #FFD500;" value="70" {if="$config_temp_celsius == 70"}selected="selected"{/if}>70 °C</option>
									<option style="background: #FFAA00;" value="75" {if="$config_temp_celsius == 75"}selected="selected"{/if}>75 °C</option>
									<option style="background: #FF8000;" value="80" {if="$config_temp_celsius == 80"}selected="selected"{/if}>80 °C</option>
									<option style="background: #FF5500;" value="85" {if="$config_temp_celsius == 85"}selected="selected"{/if}>85 °C</option>
									<option style="background: #FF2B00;" value="90" {if="$config_temp_celsius == 90"}selected="selected"{/if}>90 °C</option>
								</select></td>
                    </tr>
                    <tr>
                        <td><strong>der Speicherverbrauch (Gesamtspeicher) einen Wert überschreitet</strong></td>
                        <td><input type="checkbox" name="cb_memory" value="checked" {if="$config_notification_memory"}checked{/if} />
                            <input type="text" name="tx_memory" style="width: 30px;" maxlength="2" /> %</td>
                    </tr>
                    <!--<tr>
                        <td><strong>sich ein Benutzer an den Raspberry Pi anmeldet</strong></td>
                        <td><input type="checkbox" name="activate" value="checked" /></td>
                    </tr>
                    <tr>
                        <td><strong>ein Dienst/Service stoppt</strong></td>
                        <td><input type="checkbox" name="activate" value="checked" /></td>
                    </tr>-->
                </table>
            </div>
            <div class="inner">
                <input type="submit" name="submit" value="Speichern" />
            </div>
        </form>
    </div>
</div>
<div class="clear_both"></div>